body {
  display: grid;
  grid-template:
  'header header header'
  'nav nav nav'
  'main main aside'
  'footer footer footer';
  grid-template-columns: auto auto 200px;
  margin: 0;
  padding: 0;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: center; 
  color: darkgreen;
  text-align: left;
  grid-area: header;
  text-align-last: left;
  font: 70px "Lucida Grande", Helvetica, Arial, sans-serif; 
  ;
} 
nav {
  height: 60px;
  background-color: blue;
  
}

nav ul{
  font-family: arial;
  color: #222;
  font-size: 16px;
  line-height: center;
  float: left;
  padding: 0px 20px;
  
}

nav ul{
  float: left;
}
.title{
  float: left;
  list-style: none;
  position: relative;
}
.title a{
  display: block;
  font-family: arial;
  color: orange;
  font-size:  20px;
  padding: 7px 14px;
  text-decoration: none;
}
.title ul{
  display: none;
  position: absolute;
  background-color: yellow  ;
  padding: 10px;
  border-radius: 10px;
}
.title:hover ul{
  display: block;
}
.title:hover{
  background-color: red;
}
.ctg{
  width: 180px;
  border-radius: 4px; 
}
.ctg{
  padding:10px 14px;
}
.ctg a{
  padding: 10px 14px;
}
.ctg label:hover{
  background-color: red;
}
.ctg label{
  display: block;
  font-family: arial;
  color: orange;
  font-size:  17px;
  padding: 8px 14px;
  text-decoration: none;
}
main {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: lightgray;
  color: black;
  text-align: left;
  grid-area: main;
  margin: 0;
  padding: 0;
}
aside{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  color: black;
  text-align: left;
  grid-area: aside;
  height: 500px;
  margin: 0;
  padding: 0;
}

footer{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: yellow;
  color: black;
  text-align: left;
  grid-area: footer;
  height: 55px;
  margin: 0;
  padding: 0;
}
header img{
  background-image: url("/images/supermarket.jpg");
  background-color: #cccccc; 
  height: 300px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  width: fit-content;
}

.ctg ul li, .ctg input[type="checkbox"]{
  display: none;
}



.sub-ctg{
  float: left;
  list-style: none;
  position: relative;
}
.sub-ctg a{
  display: block;
  font-family: arial;
  color: orange;
  font-size: 16px;
  padding: 7px 14px;
  text-decoration: none;
}
.ctg ul{
  display: none;
  position: absolute;
  background-color: yellow  ;
  padding: 0px;
  border-radius: 10px;
}
#A:checked ~ ul li, #B:checked ~ ul li, #F:checked ~ ul li, #C:checked ~ ul li{
  display: block;
}
.sub-ctg{
  width: 180px;
  border-radius: 4px; 
}
.sub-ctg a{
  padding: 8px 14px;
}
.sub-ctg a:hover{
  background-color: red;
}