body {
  display: grid;
  grid-template:
  'header header header'
  'nav nav nav'
  'main main aside'
  'footer footer footer';
  grid-template-columns: auto auto 200px;
  
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: orange; 
  color: darkgreen;
  text-align: left;
  grid-area: header;
  height: 175px;
  text-align-last: left;
  font: 70px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
nav {
  width: 211%;
  height: 60px;
  background-color: blue;
}

nav p{
  font-family: arial;
  color: #222;
  font-size: 24px;
  line-height: 55px;
  float: left;
  padding: 0px 20px;
}

nav ul{
  float: left;
}
nav ul li{
  float: left;
  list-style: none;
  position: relative;
}
nav ul li a{
  display: block;
  font-family: arial;
  color: orange;
  font-size: 1 4px;
  padding: 22px 14px;
  text-decoration: none;
}
nav ul li ul{
  display: none;
  position: absolute;
  background-color: yellow  ;
  padding: 10px;
  border-radius: 10px;
}
nav ul li:hover ul{
  display: block;
}
nav ul li ul li{
  width: 180px;
  border-radius: 4px; 
}
nav ul li ul li a{
  padding: 8px 14px;
}
nav ul li ul li a:hover{
  background-color: #f3f3f3;
}
main {
  display: flex;
  align-items: left;
  justify-content: left;
  background-color: lightgray;
  color: black;
  text-align: left;
  grid-area: main;
  height: 700px;
}
aside{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgreen;
  color: black;
  text-align: left;
  grid-area: aside;
  height: 700px;
}

footer{
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: yellow;
  color: black;
  text-align: left;
  grid-area: footer;
  height: 55px;
}
.img{
  background-repeat: no-repeat;
  display: block;
  margin-top: 30%;
  padding-top: 0%;
  padding-left: 0%;
  width: 30%;
  float: left;

}