<header>
        <img src="/images/supermarket.jpg" alt="">

</header>
<nav>
    <ul>
        <li class="title"><a href="#">Healthy</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="A"/>
	            <label for="A">Vegan/Vegetariano</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Food</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="B"/>
	            <label for="B">Gluten/Lactose Free</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Cereal/Cereal Bars</a></li>
                        <li class="sub-ctg"><a href="#"> Biscuits</a></li>
                        <li class="sub-ctg"><a href="#"> Snacks/Tortitas</a></li>
                        <li class="sub-ctg"><a href="#"> Pastas/Flour</a></li>
                        <li class="sub-ctg"><a href="#"> Ready Done Meals</a></li>
                        <li class="sub-ctg"><a href="#"> Bread/Pasteries/Tosties</a></li>
                        <li class="sub-ctg"><a href="#"> Baby Food</a></li>
                        <li class="sub-ctg"><a href="#"> Dairy Alternatives</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="C"/>
	            <label for="C">Food Suplements</label>
                    <ul>
                        <li class="sub-ctg"><a href="#">Sport Suplements</a></li>
                        <li class="sub-ctg"><a href="#"> Health Bars</a></li>
                    </ul>
                 <li class ="ctg"><input type="checkbox" id="C"/>
	            <label for="C">Biological Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Fruit</a></li>
                        <li class="sub-ctg"><a href="#"> Vegetables</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="D"/>
	            <label for="D">Rice/Pasta/Flour</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Rice</a></li>
                        <li class="sub-ctg"><a href="#"> Pasta</a></li>
                        <li class="sub-ctg"><a href="#"> Flour</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="E"/>
	            <label for="E">Olive Oil/Vinegar/Oil</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Olive Oil</a></li>
                        <li class="sub-ctg"><a href="#"> Vinegar</a></li>
                        <li class="sub-ctg"><a href="#"> Oil</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Tomato/Beans</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Beans</a></li>
                        <li class="sub-ctg"><a href="#"> Tomato Products</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Condiments</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Salt</a></li>
                        <li class="sub-ctg"><a href="#"> Spices</a></li>
                        <li class="sub-ctg"><a href="#"> Sauces</a></li>
                        <li class="sub-ctg"><a href="#"> Broths</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Canned Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Tuna</a></li>
                        <li class="sub-ctg"><a href="#"> Canned Fish Variety</a></li>
                        <li class="sub-ctg"><a href="#"> Sausages/Canned Meals</a></li>
                        <li class="sub-ctg"><a href="#"> Pate</a></li>
                        <li class="sub-ctg"><a href="#"> Mushrooms</a></li>
                        <li class="sub-ctg"><a href="#"> Olives</a></li>
                        <li class="sub-ctg"><a href="#"> Vegetable Stocks</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Snacks</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Dried Fruit</a></li>
                        <li class="sub-ctg"><a href="#"> Popcorn</a></li>
                        <li class="sub-ctg"><a href="#"> Snacks</a></li>
                        <li class="sub-ctg"><a href="#"> Potato Chips</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Sugar/Honey/Jams</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Sweetner</a></li>
                        <li class="sub-ctg"><a href="#"> Honey</a></li>
                        <li class="sub-ctg"><a href="#"> Jam</a></li>
                        <li class="sub-ctg"><a href="#"> Marmelade</a></li>
                        <li class="sub-ctg"><a href="#"> Bread Spreads</a></li>
                        <li class="sub-ctg"><a href="#"> Peanut Butter</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Biscuits/Cakes</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Toasted Breads</a></li>
                        <li class="sub-ctg"><a href="#"> Assortment of Biscuits</a></li>
                        <li class="sub-ctg"><a href="#"> Traditional/Maria Wafer/Butter Biscuits</a></li>
                        <li class="sub-ctg"><a href="#"> Cakes</a></li>
                        <li class="sub-ctg"><a href="#"> Cookies/Wafers/Covered or Filled Biscuits</a></li>
                        <li class="sub-ctg"><a href="#"> Salty Biscuits</a></li>
                        <li class="sub-ctg"><a href="#"> Breakfast/Healthy Biscuits</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cereal/Cereal Bars</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Cereal Bars</a></li>
                        <li class="sub-ctg"><a href="#"> Adult Cereal</a></li>
                        <li class="sub-ctg"><a href="#"> Muesli/Granola</a></li>
                        <li class="sub-ctg"><a href="#"> Corn Flakes</a></li>
                        <li class="sub-ctg"><a href="#"> Children Cereal</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Tea/Coffee</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Tea</a></li>
                        <li class="sub-ctg"><a href="#"> Ground Coffee</a></li>
                        <li class="sub-ctg"><a href="#"> Cereal Drinks</a></li>
                        <li class="sub-ctg"><a href="#"> Chocolate Drinks</a></li>
                        <li class="sub-ctg"><a href="#"> Coffee Capsules</a></li>
                        <li class="sub-ctg"><a href="#"> Mix in Coffee</a></li>
                    </ul>
                 <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Chocolate/Candy</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Culinary Chocolate</a></li>
                        <li class="sub-ctg"><a href="#"> Chocolates</a></li>
                        <li class="sub-ctg"><a href="#"> BubbleGum/Sweets</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Desserts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Fruit Pulp</a></li>
                        <li class="sub-ctg"><a href="#"> Gelatine</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Baby Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Fresh Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="G"/>
	            <label for="G">Butcher</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="H"/>
	            <label for="H">Fish Shop</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="I"/>
	            <label for="I">Vegetables</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Dried Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cheese</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cold Cuts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Bread</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Olives/Lupins</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Eggs</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Drinks</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="J"/>
	            <label for="J">Water</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="K"/>
	            <label for="K">Juices/Nectars</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="L"/>
	            <label for="L">Cool Drinks</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Beer/Cider</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Wine</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Champagne</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Hard Liquor</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Dairy</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="M"/>
	            <label for="M">Yoghurts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="N"/>
	            <label for="N">Milk</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="O"/>
	            <label for="O">Vegan Milk</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Creams</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Butter</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Frozen Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="P"/>
	            <label for="P">Frozen Vegetables</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="Q"/>
	            <label for="Q">Frozen Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Pizza</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Ice-Cream</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Frozen Fish</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Frozen Meat</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Ready To Go Meals</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Higiene/Beauty</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Shower Items</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Face Cream</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">MakeUp</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Oral Higiene</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Grooming</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>    
                </li>
            </ul>
    </li>
    </ul>
                

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <input type="text" placeholder="Enter Username" name="uname" required>
        <input type="text" placeholder="Enter Password" name="psw" required>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>