<header>
        <img src="/images/supermarket.jpg" alt="">
</header>
<nav>
    <ul>
        <li><a href="#">Healthy</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        
        <li><a href="#">Fruit/Vegetables</a>
            <ul>
                <li><a href="#">wut</a></li>
            </ul>
        <li><a href="#">Health/Bio</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        <li><a href="#">Fresh Items</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        <li><a href="#">Drinks</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        <li><a href="#">Dairy</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        <li><a href="#">Frozen</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        <li><a href="#">Higiene/Beauty</a>
            <ul>
                <li><a href="#">Health/Bio</a></li>
            </ul>
        </li>
    </ul>

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>