<header>
        <header>Super For You</header>
        <img src="sfy.jpg">
</header>
<nav>
    <ul>
        <li>Sample</li>
        <li>Sample 2</li>
    </ul>

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>