<header>
        <header></header>
        <img src="/images/sfy.png" alt="" width= 400 height=170>
</header>
<nav>
    <ul>
        <li><a href="#">Healthy</a>
            <ul>
                <li><a href="#">Fresh</a></li>
            </ul>
        <li><a href="#">Products</a>
            <ul>
                <li><a href="#">Fresh</a></li>
                <li><a href="#">Dairy</a></li>
            </ul>
        </li>
    </ul>

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>