<header>
        <img src="/images/supermarket.jpg" alt="">
</header>
<nav>
    <ul>
        <li class="title"><a href="#">Healthy</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="A"/>
	            <label for="A">Vegan/Vegetariano</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="B"/>
	            <label for="B">Vegan/Vegetariano</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Food</a>
            <ul>
                <li class="multi"><a href="#">wut</a></li>
            </ul>
        <li class="title"><a href="#">Fresh Food</a>
            <ul>
                <li class="multi"><a href="#">Health/Bio</a></li>
            </ul>
        <li class="title"><a href="#">Drinks</a>
            <ul>
                <li class="multi"><a href="#">Health/Bio</a></li>
            </ul>
        <li class="title"><a href="#">Dairy</a>
            <ul>
                <li class="multi"><a href="#">Health/Bio</a></li>
            </ul>
        <li class="title"><a href="#">Frozen</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Vegan/Vegetariano</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                </li>
            </ul>
        <li class="title"><a href="#">Higiene/Beauty</a>
            <ul>
                <li class="multi"><a href="#">Health/Bio</a></li>
            </ul>
    </li>
    </ul>

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>