<main>
    <head>
        <header>
            <h1>{{title}}</h1>
        </header>    
    </head>
    <body>
        <header>
        <p>Welcome to {{title}}</p>
        </header>
    </body>
</main>