<header>
        <img src="/images/supermarket.jpg" alt="">
</header>
<nav>
    <ul>
        <li class="title"><a href="#">Healthy</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="A"/>
	            <label for="A">Vegan/Vegetariano</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="B"/>
	            <label for="B">Gluten/Lactose Free</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="C"/>
	            <label for="C">Food Suplements</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                 <li class ="ctg"><input type="checkbox" id="C"/>
	            <label for="C">Biological Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="D"/>
	            <label for="D">Rice/Pasta/Flour</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="E"/>
	            <label for="E">Olive Oil/Vinegar/Oil</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Tomato/Beans</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Condiments</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Canned Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Snacks</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Sugar/Honey/Candy</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Biscuits/Cakes</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cereal/Cereal Bars</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Tea/Coffee</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                 <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Chocolate</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Desserts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Baby Food</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Fresh Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="G"/>
	            <label for="G">Butcher</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="H"/>
	            <label for="H">Fish Shop</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="I"/>
	            <label for="I">Vegetables</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Dried Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cheese</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Cold Cuts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Bread</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Olives/Lupins</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Eggs</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Drinks</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="J"/>
	            <label for="J">Water</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="K"/>
	            <label for="K">Juices/Nectars</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="L"/>
	            <label for="L">Cool Drinks</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Beer/Cider</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Wine</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Champagne</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Hard Liquor</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Dairy</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="M"/>
	            <label for="M">Yoghurts</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="N"/>
	            <label for="N">Milk</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="O"/>
	            <label for="O">Vegan Milk</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Creams</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Butter</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Frozen Food</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="P"/>
	            <label for="P">Frozen Vegetables</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
               <li class ="ctg"><input type="checkbox" id="Q"/>
	            <label for="Q">Frozen Fruit</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Pizza</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Ice-Cream</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Frozen Fish</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Frozen Meat</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Ready To Go Meals</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
            </ul>
        <li class="title"><a href="#">Higiene/Beauty</a>
            <ul> 
                <li class ="ctg"><input type="checkbox" id="F"/>
	            <label for="F">Shower Items</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Face Cream</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">MakeUp</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Oral Higiene</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>
                <li class ="ctg"><input type="checkbox" id="R"/>
	            <label for="R">Grooming</label>
                    <ul>
                        <li class="sub-ctg"><a href="#"> Full fat</a></li>
                        <li class="sub-ctg"><a href="#"> Half fat</a></li>
                    </ul>    
                </li>
            </ul>
    </li>
    </ul>
                

</nav> 
<main>   
    <body>
        <p>Here you will find what you are looking for</p>
    </body>
</main>
<aside>
    <ul>
        <button type="button">Login</button>
        <button type="button">Register</button>
    </ul>
</aside>
<footer>
    <p>testing</p>
</footer>